::-webkit-scrollbar{
    width: 0px;
    background-color:#000;
    display: none; 
}
::-webkit-scrollbar-thumb{
    background:transparent;
    border-radius: 50px;
}
::-webkit-scrollbar-track{
    height: 2px;
    background-color:#fff;
}

/*-------------Disable scrollbar-----------------------------------*/
@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    html{
        scrollbar-width: none;
    }
}   
    body {
        margin: 0; /* remove default margin */
        scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
        -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
        overflow-y: scroll;
}   
    body::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
iframe::-webkit-scrollbar
{  
    display: none;
}